.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(201, 128, 34, 0.356);
    transition: .4s;
}

.boton-verde {
    @include boton($verde, inline-block);
}

.boton-rojo-block {
   @include boton($rojo, block);
   width: 100%;
}
.boton-verde-block {
    @include boton($verde, block);
}